
body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
   
}
section{
    background-color: rgb(255, 255, 255);
   
  
}
.hero{
    background-color: rgb(6, 6, 38);
    color: white;
    height: 100vh;
    font-size: 40px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  
}
ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
ul.show{
    display: block;
}

li{
   
    text-decoration: none;
    font-size: 30px;
}

h1{
    font-size: 90px;
    font-weight: 700;
    margin: 0;
}
h2{
    font-size: 45px;
    font-weight: 600;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.hero-text{
    margin-left: 80px;
    margin-bottom: 250px;
}
.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.button{
    width: 200px;
    height: 55px;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;

}
.button:hover{
    background-color: tomato;
}
.button:active{
    background-color: #A9A9A9;
    color: #808080;
}
.logo{
    width: 180px;
    border-radius: 60px;
    margin: 30px;
}
.socials{
    padding-bottom: 200px;
}
.social{
    margin: 30px;
    
}
.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.sub-section-alt{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.headshot{
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
    
} 
.headshot-container{
    display: flex;
    align-content: center;
    padding-left: 50px;

} 
.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;

}
.project-container{
    
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width:1000px){
    .project-container{
        display: flex;
        flex-wrap:wrap;
    }
}
.subtext{
    padding-top: 0px;
    font-size: 15px;
    font-weight: 300;
}  
.project-image{
    margin-top:25px;
    width: 250px;
    border-radius: 125px;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.project-link{
    color: tomato;
    
}
a{
    text-decoration: none;
    color: white;
}
.hamburger{
   display: none;
}
.hamburger:focus{
    outline: 0;
}
.hbdiv{
    width: 100px;
}

@media only screen and (max-width:1000px) {
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    .hbdiv{
       
        width: 100px;
    }
    .hamicon{
        width:70%;
        height: 40%;
        color: white;
        
    }
    ul {
        display: none;
        background-color: #d98326;
        margin: 0ppx;
    }
    ul.show {
        display: block;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #7980ca;
    }

    .logo {
        display: none;
    }

}